.lobby {
  flex: auto;

  .lobby-guests {
    list-style: none;
    padding-inline-start: 0;

    .lobby-guest {
      display: inline-block;
      width: 50px;
      height: 70px;
      overflow: hidden;
      margin: 5px;
      .avatar .avatar-image {
        .avatar-image-content {
          height: 50px;
          width: 50px;
          background-color: var(--secondary);
          border-radius: var(--borderradius);
        }
      }
      .display-name {
        display: block;
        height: 20px;
        width: 50px;
        text-align: center;
        font-size: 12px;
      }
    }
  }
  .actions {

  }
}
