.room {
  flex: auto;
  display: flex;
  column-gap: 1em;

  .participants {
    position: relative;
    flex: none;
    box-sizing: border-box;

    .participants-header-container {

      .participants-header {
        display: none;

        &.participants-hidden {
          position: relative;
          writing-mode: vertical-lr;
          margin-left: 0;
          margin-right: 0.3em;
        }
      }
    }
  }

}
