JAM_HOST=jam.example.com

CHANNEL=stable # can also be "master" for the more adventurous

# Comma-separated list of enabled deployments
COMPOSE_PROFILES=web,coturn

# Customize COMPOSE_PROFILES to your needs!
# Remove "web" if you have your own traefik server set up on the same docker daemon
# Remove "coturn" if you have your own stun and turn server, or don't want one (see also below)
# Add "metrics" to enable metrics powered by Prometheus and Grafana (see also below)
# Add "sfu" to enable our SFU powered by Mediasoup (see also below)

# Examples:
# COMPOSE_PROFILES=web
# COMPOSE_PROFILES=web,coturn,metrics
# COMPOSE_PROFILES=web,coturn,sfu

# If you have your own stun and turn server or you have modified ./turnserver.conf
# (don't set these if you just want our default coturn setup)
# JAM_STUN_SERVER=stun:stun.example.com:3478
# JAM_TURN_SERVER=turn:turn.example.com:3478
# JAM_TURN_SERVER_USERNAME=foo
# JAM_TURN_SERVER_CREDENTIAL=bar

# If you want to enable metrics set
# GRAFANA_ADMIN_PASSWORD=foobar

# If you want to restrict room creation to admins
# JAM_RESTRICT_ROOM_CREATION=true

# If you want to enable Broadcast support for room streaming
# JAM_BROADCAST=true

# If you want to enable distribution as m3u8
# JAM_DISTRIBUTION_HOST=false

# If you want to run an SFU to enable rooms with large audience
# Caveat: this increases the server CPU and network usage
# JAM_SFU=true
# the external IP of your server, required for using an SFU
# JAM_SFU_EXTERNAL_IP=X.X.X.X 

# If you want to use a different image for the server logo, uncomment the
# following line and set a URI
# SERVER_LOGO="/img/jam-app-icon-192.png"

# If you want to customize the name used to refer to your instance
# SERVER_NAME="Nostr Live Audio Spaces"

# If you want the server to be able to prepare, sign and publish events
# to nostr for reflecting server status, live activities and more
# SERVER_NSEC="nsec1...."

# You may provide your npub as the server operator
# SERVER_OPERATOR="npub1...."

# Toggle ads enabled or not
# ADS=false

# For ads that appear on room entry screen, the root path may be set as
# follows. These ads are expected to be square and will be scaled on the
# client depending on width.  A stock deployment using docker has this
# defined to use the data folder.  Subfolders are expected for each
# year and month. E.g. /pantry/adimages/2024/05 
# SQUARE_AD_FILE_LOCATION_PATH=/pantry/adimages

# For ads in text chat, the root path may be set as follows. These ads
# are expected to have dimensions of 320 x 50 pixels suitable for mobile.
# As above, stock deployment using docker references the data folder and
# subfolders denote ads to cycle on a monthly basis.
# CHAT_AD_FILE_LOCATION_PATH=/pantry/adimages2