@import url("./fonts/Pacifico.css");

@import url("./fonts/all.min.css");

* {
  box-sizing: border-box;
}
.cd__main{
   background: pink !important;
   font-family: 'Pacifico', cursive !important;
   min-height: 450px;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Pacifico', cursive;
  margin: 0;
  min-height: 100vh;
}

.heart {
  position: fixed;
  font-size: 1.5rem;
  top: -1vh;
  transform: translateY(0);
  animation: fall 6s linear forwards;
  color: #ffa0a07f;
}

@keyframes fall {
  from {
     transform: translateY(0vh) translateX(-10vw);
  }
  to {
     transform: translateY(105vh) translateX(10vw);
  }
}
