.info-button {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 2px solid var(--secondary);
  background-color: var(--background);
  color: var(--secondary);
  font-weight: bold;
  font-size: 0.6em;
  padding: 0;
  position: relative;
  bottom: 0.3em;
}
